* {
    box-sizing: border-box;
    margin: 0;
    padding: 5;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: rgb(7, 0, 36);
    color: rgb(223, 249, 240);
}

header {
    /* position: fixed; */
    height: 80px;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-items: center;
}

nav {
    width: 100%;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    letter-spacing: 1px;
}

nav a {
    text-decoration: none;
    color: rgb(180, 211, 253);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid transparent;
}

nav a:hover {
    color: rgb(180, 253, 232);
    transition: all 0.5s ease;
    border: 2px solid rgb(180, 253, 232);
}

main {
    margin-top: 100px;
    padding: 20px;
}

main p {
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(254, 254, 254);
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    transition: all 0.3s ease;
}

#renderProducts img {
    width: 250px;
    border-radius: 10px;
}

#renderProducts h3 {
    height: 40px;
    color: rgb(21, 0, 107);
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}

#renderProducts p {
    height: 40px;
    font-size: 1rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

#renderProducts a {
    text-decoration: none;
}

#renderProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(0, 19, 44);
    border-radius: 1rem;
    padding: 10px;
    gap: 5px;
}

#renderProducts div {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#handlePage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#handlePage a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

#currentPage {
    font-style: normal;
    margin: 0;
}

#currentPage span {
    color: rgb(180, 211, 253);
    font-weight: 600;
    font-size: 1.7rem;
}

#productDetail {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    height: 700px;
}

#imgContainer {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgContainer img {
    width: 70%;
    border-radius: 1.5rem;
}

#infoContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

#infoContainer p {
    color: rgb(0, 0, 0);
    font-style: normal;
}

#addToCart {
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 19, 44);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
}

#addToCart,
#deleteCart,
#deleteProduct {
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 19, 44);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
}

#deleteCart {
    border: 2px solid rgb(0, 19, 44);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 19, 44);
    width: auto;
    padding: 0 30px;
}

#addToCart:hover,
#deleteProduct:hover {
    background-color: rgb(180, 211, 253);
    color: rgb(0, 19, 44);
    transition: all 0.5s ease;
}

#deleteCart:hover {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 19, 44);
    color: rgb(255, 255, 255);
}

#cartContainer {
    margin: 20px;
    padding: 10px;
    background-color: rgb(222, 234, 250);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

#cartProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#cartProducts div {
    width: 350px;
    height: 500px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 19, 44);
    border-radius: 10px;
}

#cartContainer img {
    width: 250px;
    border-radius: 10px;
}

#totalCartContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#totalCartContainer p {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

#buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cartEmptyContainer {
    height: 500px;
    width: 100%;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 234, 250);
    color: rgb(0, 0, 0);
    font-size: 600;
    font-size: 1.5rem;
    border-radius: 2rem;
}

.disabled {
    pointer-events: none;
    opacity: 0;
}