<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta
            name='viewport'
            content='width={device-width}, initial-scale=1.0'
        />
        <title>Document</title>
        <link rel='stylesheet' href='/css/styles.css' />
    </head>
    <body>
        <header>
            <nav>
                <a href='/products'>Inicio</a>
                <a href='/realtimeproducts'>Tiempo Real</a>
            </nav>
        </header>
        {{{body}}}
        <footer>
            <p>&copy;2025 - Todos los derechos reservados</p>
        </footer>
    </body>
</html>